h1{
    font-size: 30pt;
    text-shadow: 5px 5px 5px #212121;
    color: white;

 }
 body{
    background-image: url(Merry.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
table{
    color: black;
    font-size: 15pt;
    
}
